* {}

input.search-text {
    width: 90%;
}

#googlemaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  left: 0; 
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#searchForm {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
  width: 19%;
  /* margin: 60px auto 0; */
  padding: 10px;
  background: black;
  height: 150px;
  opacity: 0.45; /* Set the opacity for a slightly transparent Google Form */
  color: white;
  /* margin-left: 74.5%; */
  margin-right: 2%;
  margin-left: 79%;
  margin-top: 1%;
}